<div class="reveal">
    <span style="display: none;"  [ngStyle]="{'color': getRandom(0)}"></span>
    <span [ngStyle]="{'background-color': getRandom(1)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(2)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(3)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(4)}" style="display: none;"></span>
    <div class="slides">
        <h2 class="tituloPaginas">{{getProceso()}}</h2>
        <section data-transition="fade-in slide-out" class="topmid">
            <h2>Entorno de desarrollo</h2>
      
            <h4 style="letter-spacing: 2px">Bienvenido, en este apartado conocera las herramientas de desarrollo necesarias para construir el prototipo de pagina web que desarrollaremos en el curso </h4>

            <h4 style="letter-spacing: 2px">Como nuestra primera actividad a realizar es la creación de la aplicación cliente y la aplicación servidor, para ello es necesario configurar los entornos eclipse(<span class="eclipse"></span>) y visual studio code(<span class="code"></span>), las siguientes imágenes muestran el espacio de trabajo de cada <span class="tooltip2">IDE<span class="tooltiptext">Entorno de desarrollo de software integrado</span></span>.</h4>        
        </section>

        <section data-background="assets/img/fondo/visualCode.png" class="backImgForceCenter" data-transition="fade-in slide-out" style="padding: 3rem;">
            <p class="fragment highlight-blue">VISUAL STUDIO CODE</p>
            <p class="fragment fade-up" style="    font-size: large;"><span class="tooltip2">IDE<span class="tooltiptext">Entorno de desarrollo de software integrado</span></span> definido para trabajar el front-end del prototipo de pagina web sometido a practicas <span class="tooltip2">DevOps<span class="tooltiptext">Grupo de prácticas que unifica operaciones de TI y desarrollo de software</span></span></p>
            <p class="fragment fade-up" style="    font-size: large;">Listado de framework(marcos de trabajo) que se usan para la construcción del mismo:</p>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(1)}">NodeJs</span>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(2)}">Angular</span>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(3)}">karma/Jasmine</span>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(4)}">Ngx-datatable</span>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(5)}">Bootstrap/ngx-bootstrap</span>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(6)}">Jquery</span>
        </section>


        <section data-background="assets/img/fondo/eclipse.png" class="backImgForceCenter" data-transition="fade-in slide-out" style="padding: 3rem;">
            <p class="fragment highlight-green" style="color: black">ECLIPSE</p>
            <p class="fragment fade-up" style="    font-size: large;color: black"><span class="tooltip2">IDE<span class="tooltiptext">Entorno de desarrollo de software integrado</span></span> definido para trabajar el back-end del prototipo de pagina web sometido a practicas <span class="tooltip2">DevOps<span class="tooltiptext">Grupo de prácticas que unifica operaciones de TI y desarrollo de software</span></span></p>
            <p class="fragment fade-up" style="    font-size: large;color: black">Listado de framework(marcos de trabajo) que se usan para la construcción del mismo:</p>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(1)}">Java Jdk8</span>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(2)}">Spring boot</span>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(3)}">Maven</span>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(4)}">Jpa</span>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(5)}">Hibernate</span>
            <span class="fragment slide mR1" [ngStyle]="{'color': getRandom(6)}">Lombok</span>
        </section>
        
    </div>
</div>

<div class="divBotom">
    <span style="display: none;"  [ngStyle]="{'color': getRandom(0)}"></span>
    <span [ngStyle]="{'background-color': getRandom(1)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(2)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(3)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(4)}" style="display: none;"></span>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('ejemploOrquestacion')" [ngStyle]="{'background-color': getRandom(1)}">Volver a iniciar el <b>Contenido</b></button>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('home')" [ngStyle]="{'background-color': getRandom(2)}">Volver a la lista de <b>Contenido Informativo</b></button>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('seleccion')" [ngStyle]="{'background-color': getRandom(1)}">Volver al contenido de la etapa <b>{{proceso}}</b></button>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('principal')" [ngStyle]="{'background-color': getRandom(2)}">Etapas de Estudio</button>
  </div>