.butonSel{
    padding: 3rem;
    font-size: x-large;
    font-weight: bold;
    color: white;
    border-radius: 0px;
    border: solid 1px;
}

.butonSel:hover{
    background-color: #E7DFDD!important;
    color: black;
}