.check{
    background: url("../../../assets/img/check.png") center / cover no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
}

.t100{
    display: contents!important;

}

.t100 span{
    text-shadow: 2px 2px 3px #4717f6;
}