<div class="reveal">

    <div class="slides">
        <h2 class="tituloPaginas">{{getProceso()}}</h2>
        <section class="topmid">
            <h2 >Ejecición del Prototipo</h2>
         
            <h3 >Aplicación Web</h3>
           
            <h5 >Bienvenido, en este apartado se dara a conocer por medio de videos las funcionalidades creadas en el prototipo web </h5>
           
        </section>

        <section data-background-video="assets/video/creacionUsuario.mp4" data-background-color="#000000">
            <div style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;margin-top: 23rem!important;">
                <h3 [ngStyle]="{'color': getRandom(1)}">Creación de Usuario</h3>
                <h5>Ejemplo Creación Exitosa de Usuario</h5>
            </div>
        </section>

        <section data-background-video="assets/video/creacionPagina1.mp4" data-background-color="#000000" >
            <div style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;margin-top: 23rem!important;">
                <h3 [ngStyle]="{'color': getRandom(2)}" >Creación registro pagina 1</h3>
                <h5 >Ejemplo Creación Exitosa de un registro sobre la pagina de prototipo llamada Pagina1</h5>
            </div>
        </section>

        <section data-background-video="assets/video/borrarPagina1.mp4" data-background-color="#000000" >
            <div style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;margin-top: 23rem!important;">
                <h3 [ngStyle]="{'color': getRandom(3)}" >Eliminar registro pagina 1</h3>
                <h5 >Ejemplo de Borrado Exitosa de un registro sobre la pagina de prototipo llamada Pagina1</h5>
            </div>
        </section>

        
    </div>
</div>

<div class="divBotom">
    <span style="display: none;"  [ngStyle]="{'color': getRandom(0)}"></span>
    <span [ngStyle]="{'background-color': getRandom(1)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(2)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(3)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(4)}" style="display: none;"></span>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('ejecucion')" [ngStyle]="{'background-color': getRandom(0)}">Volver a iniciar el <b>Contenido</b></button>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('home')" [ngStyle]="{'background-color': getRandom(1)}">Volver a la lista de <b>Contenido Informativo</b></button>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('seleccion')" [ngStyle]="{'background-color': getRandom(0)}">Volver al contenido de la etapa <b>{{proceso}}</b></button>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('principal')" [ngStyle]="{'background-color': getRandom(1)}">Etapas de Estudio</button>
  </div>