<div class="reveal">

    <div class="slides">
        <h2 class="tituloPaginas">{{getProceso()}}</h2>
        <section data-transition="fade-in slide-out" class="topmid">
            <h2>Definición</h2>
            <h4>Bienvenido, en este apartado se dara un acercamento sobre la herramienta seleccionada para la
                construcción de pruebas unitarias del lado del servidor</h4>
            <h4>Basado en un proceso de <span class="tooltip2">benchmarking<span class="tooltiptext">benchmarking es un proceso de crear, recopilar, comparar y analizar indicadores claves que permitan medir el rendimiento de los procesos</span></span> las herramientas seleccionada segun la
                arquitectura del prototipo propuesta seria <span class="junit" title="Junit"></span></h4>
        </section>

        <section data-transition="fade-in slide-out" class="topmid">
            <h2 class="fragment highlight-blue">Junit</h2>
            <p [ngStyle]="{'color': getRandom(1)}"></p>
            <p class="fragment fade-up">¿ Que es ?</p>
            <p><span class="fragment step-fade-in-then-out">Las pruebas unitarias del lado del servidor aprueban si el
                    comportamiento lógico
                    de un objeto(clase) es el correcto, a través de la implementación de test</span>
                <span class="fragment step-fade-in-then-out">La detección de errores en fases
                    tempranas es gracias a la implementación de estas pruebas, permitiendo ahorrar dinero y
                    tiempo</span>

                <span class="fragment step-fade-in-then-out">Junit es un framework de automatización de pruebas unitarias que funciona en el lado del servidor</span>
                <span class="fragment step-fade-in-then-out">Junit fue diseñado específicamente para ejecutarse con Java, el objetivo de Junit es evaluar cada componente de una clase clase para evitar generar errores</span>
                <span class="fragment step-fade-in-then-out">Cuando se pretende comprobar el funcionamiento efectivo de un bloque de código, debemos ejecutar pruebas unitarias, este proceso es mayormente utilizado en metodologías agiles</span>
                </p>
                
               
        </section>

    </div>
</div>


<div class="divBotom">
    <span style="display: none;"  [ngStyle]="{'color': getRandom(0)}"></span>
    <span [ngStyle]="{'background-color': getRandom(1)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(2)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(3)}" style="display: none;"></span>
    <span [ngStyle]="{'background-color': getRandom(4)}" style="display: none;"></span>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('definicionUniservidor')" [ngStyle]="{'background-color': getRandom(0)}">Volver a iniciar el <b>Contenido</b></button>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('home')" [ngStyle]="{'background-color': getRandom(2)}">Volver a la lista de <b>Contenido Informativo</b></button>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('seleccion')" [ngStyle]="{'background-color': getRandom(0)}">Volver al contenido de la etapa <b>{{proceso}}</b></button>
    <button style="margin: 0.2rem;" mat-raised-button (click)="ir('principal')" [ngStyle]="{'background-color': getRandom(2)}">Etapas de Estudio</button>
  </div>