.nexus{
    background: url("../../assets/img/nexus.png") center / cover no-repeat;
    width: 64px;
    height: 72px;
    display: inline-block;
    margin-top: 1rem;
}

.topmid{
    top: 80px!important;
}