.mgt0{
    top: 0px!important;
}

.jenkins{
    background: url("../../assets/img/jenkins.png") center / cover no-repeat;
    width: 210px;
    height: 90px;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
    background-size: contain;
}
