.confluence{
    background: url("../../assets/img/confluence.png") center / cover no-repeat;
    width: 115px;
    height: 85px;
    display: inline-block;
    margin-top: 1rem;
}

.topmid{
    top: 80px !important;
}