.sonar{
    background: url("../../assets/img/sonarqube.png") center / cover no-repeat;
    width: 258px;
    height: 61px;
    display: inline-block;
    margin-top: 1rem;
    margin-left: 1rem;
}

.jasmine{
    background: url("../../assets/img/jasmine.svg") center / cover no-repeat;
    width: 190px;
    height: 42px;
    display: inline-block;
    margin-top: 1rem;
}