.desarrolloContenedor{
    padding-top: 7rem;
    overflow-y: auto;
    height: 478px;
    margin-top: 6rem;
}

.desarrolloContenedor p{
    text-align: justify;
    margin: 1rem;
    font-size: large;
}

.imgs{
    padding: 1rem;
    overflow-y: auto;
    height: 600px;
}