.jacoco{
    background: url("../../assets/img/Jacoco.png") center / cover no-repeat;
    width: 190px;
    height: 72px;
    display: inline-block;
    margin-top: 1rem;
}

.jasmine{
    background: url("../../assets/img/jasmine.svg") center / cover no-repeat;
    width: 190px;
    height: 42px;
    display: inline-block;
    margin-top: 1rem;
}
.mgt0{
    top: 0px!important;
}