.junit{
    background: url("../../assets/img/junit.png") center / cover no-repeat;
    width: 190px;
    height: 58px;
    display: inline-block;
    margin-top: 1rem;
}

.mgt0{
    top: 0px!important;
}