.jira{
    background: url("../../assets/img/jira.png") center / cover no-repeat;
    width: 200px;
    height: 26px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    margin-top: 1rem;
}

.bitbucket{
    background: url("../../assets/img/bitbucket.png") center / cover no-repeat;
    width: 190px;
    height: 26px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    margin-top: 1rem;
}

.atlassian{
    background: url("../../assets/img/atlassian.png") center / cover no-repeat;
    width: 190px;
    height: 26px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    display: inline-block;
    margin-top: 1rem;
}